body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0; 
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 15px;
    padding-bottom: 15px;

}

h2 {
   font-size: 24px; 
}


.container {
    width: 1024px;
    margin: auto;

}

#main-bio, #contact-info , #bio-image {
    float:left;
}

#bio-image {
    width: 200px;
    margin-right: 15px;
}

#main-bio {
    width: 70%;
} 


#contact-info {
    width: 30%;
    line-height: 1.5;
}

a:link {
    color: #d21034;
}